<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />
    <title>Simulador de Investimentos</title>
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="{{ url_for('login') }}">Login</a></li>
          <li><a href="{{ url_for('register') }}">Registro</a></li>
        </ul>
      </nav>
    </header>
    <div class="container">
      <h1>Simulador de Investimentos</h1>

      <div class="form-group">
        <label for="symbol">Símbolo da Ação:</label>
        <input type="text" id="symbol" placeholder="Ex: VALE3, PETR4" />
      </div>
      <button onclick="getStockPrice()">Buscar Preço</button>
      <div id="price"></div>
      <div id="buy-section" style="display: none">
        <h3>Comprar Ações</h3>
        <div class="form-group">
          <label for="quantity">Quantidade:</label>
          <input type="number" id="quantity" min="1" />
        </div>
        <input type="hidden" id="current-price" />
        <button onclick="buyStock()">Comprar</button>
      </div>
      <div id="sell-section" style="display: none">
        <h3>Vender Ações</h3>
        <div class="form-group">
          <label for="sell-quantity">Quantidade:</label>
          <input type="number" id="sell-quantity" min="1" />
        </div>
        <button onclick="sellStock()">Vender</button>
      </div>
      <div id="portfolio" class="portfolio"></div>
      <div id="stock-history"></div>
      <h3>Transações</h3>
      <table>
        <thead>
          <tr>
            <th>Símbolo</th>
            <th>Quantidade</th>
            <th>Preço</th>
            <th>Tipo</th>
            <th>Data</th>
          </tr>
        </thead>
        <tbody id="transactions-body"></tbody>
      </table>
    </div>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
  </body>
</html>
